.table th {
	border: 0 !important;
}
.collapsing{ -webkit-transition:height .01s ease; transition:height .01s ease }
.win { background-color: #80FF80}
.loss { background-color: #FFB2B2}
.vcenter {display: block; margin-top: 35px;}
#inputSearch{width: 100%;}
