/* Universal */
body {
    font-family: 'Lato', sans-serif;
    background-color:#1A1A1A;
    color: white;
    overflow-x: hidden;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5.5em;
}

.panel {
    background-color:#1A1A1A;
    border: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.panel-default>.panel-heading{
    background-color:#1A1A1A;
    color: white;
}

.panel-title{
    font-size:20px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #313131;
}

.navbar {
    text-transform:uppercase;
    background-color:#1A1A1A;
    border:0;
}

.navbar .nav > li >a {
    color: #FF6600;
}

.navbar .nav > li > a:hover{
    background-color: #36313B;
    color:#FF6600;
}

.navbar .nav > li > a:focus{
    color:#FF6600;
}

.navbar .navbar-brand{
    color:#FFCC66
}

.navbar .navbar-brand:hover, 
.navbar .navbar-brand:focus{
    background-color:#1A1A1A; 
    color:#FFCC66
}

.navbar .nav .open .dropdown-menu{
    background-color:#1A1A1A
}

.navbar .nav .open .dropdown-menu > li > a:hover,
.navbar .nav .open .dropdown-menu > li > a:focus{
    background-color:#1A1A1A
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

.header_center {
    border: 0 !important;
    text-align: center;
}

.table th {
    border: 0 !important;
}

.table td {
    border:0 !important;
}

.vcenter{
    margin-top: 33px;
}

ul {
    list-style-type: none;
    padding-left:0;
}

.collapsing{ 
    -webkit-transition:height .01s ease; 
    transition:height .01s ease 
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f1e2";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #14293D;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #1A1A1A;
}

.img-centered {
    margin: 0 auto;
}

/* Rankings */

.rankings_table {
    text-align: center
}

/* Player Profile */
.win { 
    color: #80FF80
}

.loss { 
    color: #FFB2B2
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#results {
    background-color:none;
}

#inputSearch{
    color:black
}

.testdiv{
    background-color:red
}

.btn{
    float:right
}

/* Landing Page */

.features {
    height:330px;
    background-color:red;
    width:100%;
}

header {
    text-align: center;
    color: #fff;
    background:url(../images/1_PokemonStadium.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
}

header .segment {
    padding-top: 100px;
    padding-bottom: 50px;
    height: 600px;
}

header .banner {
    height: 1000px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 700;
    margin-bottom: -20px;
    white-space: nowrap;
}

header .intro-text .skills {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0em;
}
section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #14293D;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

.feature_div{
    padding-left: 30px; padding-right: 30px;
}

.feature_image{
    margin-left:auto;margin-right:auto;margin-bottom:0.4em;
}

.feature_h{
    text-align:center;margin-bottom:0em;margin-top:0em;
}

.feature_p{
    text-align:center;margin-top:0.4em;font-size:16px
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

/* Footer */

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #141414;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 15px 0;
    background-color: #0D0D0D;
}

.footer_links{
    padding-left: -.5em;
    text-align: left;
    padding-top: .5em;
}

.footer_links li {
    display:inline;
    
}

.footer_links li a{
    padding: 0em 1em;
    border-left:1px solid silver;
}

.footer_links li:first-child a{
    border-left: 0;
}

.copyright {
    padding-right: 1.5em;
    text-align: right;
    padding-top: .5em;
}
