<!DOCTYPE html>
<html>
  <head>
    <title>Some Title</title>
  </head>
  <body>
    <p id="container"></p>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https:/cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script type="text/javascript" src="../static/js/templates.js"></script>
    <script type="text/javascript" src="../static/js/models.js"></script>
    <script type="text/javascript" src="../static/js/views.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <!-- <script type="text/javascript" src="../static/js/app.js"></script> -->


  </body>
</html>
