<div class="col-md-offset-2 col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3> About Berkeley PR </h3>
      <p> BPR was conceived as the successor to the wildly popular GarPR (RIP) Melee Power Ranking web application. Building off what GarPR did well (TrueSkill algorithm, responsive user interface, open source, etc.), we are aiming to build an application that fills the void that GarPR left and solves the problems that GarPR wasn't able to. </p>
      <h3> Goals </h3>
      <ol>
        <li>Crowd source the collection of tournament data into a single public repository</li>
        <li>Maintain a dynamic, empirical ranking of players per region</li>
        <li>Expose crowd sourced data through a robust API</li>
      </ol>

      <h3> About the Team </h3>
      <p>Coming soon..</p>
       
    </div>
  </div>
</div>
