<div class="col-md-offset-2 col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3> <u>About Berkeley PR </u></h3>
      <p> BerkeleyPR (BPR) is a statistic tracking platform for competitive <i>Super Smash Bros. Melee</i> players.</p>
      <p> BPR was conceived as the successor to the wildly popular GarPR (RIP) Melee Power Ranking web application. We use the same <a href="http://trueskill.org/"> Microsoft TrueSkill</a> ranking algorithm with Challonge tournament data and aim to crowdsource the collection of player data by self-identification.</p>
      <h3> <u>Goals</u></h3>
      <ol>
        <li>Crowd source the collection of tournament data into a single public repository</li>
        <li>Maintain a dynamic, empirical ranking of players per region</li>
        <li>Expose crowd sourced data through a robust API</li>
      </ol>

      <h3> <u>About our Team</u></h3>
      <p>Coming soon..</p>
       
    </div>
  </div>
</div>
