<!-- Header -->
<header>
  <div class="segment">
    <div class="row">
      <div class="col-md-offset-0 col-md-8 col-md-offset-4 col-sm-offset-0 col-sm-10 col-sm-offset-2">
        <div class="intro-text">
          <br><br><br><br><br><br>
          <span class="name">Become a legend</span>
          <span class="skills">Improve your game - Track your progress</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Features Section -->
<section id="features">
  <div class="segment">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Features</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 feature_div">
        <img src="frontend/static/images/icon.png" class="img-responsive feature_image" alt="">
        <div>
          <h3 class="feature_h">Power Rankings</h3>
          <p class="feature_p">Enter your tournament results, generate Trueskill rankings for your region.
        </div>
      </div>
      <div class="col-sm-4 feature_div">
        <img src="frontend/static/images/icon.png" class="img-responsive feature_image" alt="">
        <div>
          <h3 class="feature_h">Stat Tracking</h3>
          <p class="feature_p">Map your performance, set your goals, and fight your way to the top.
        </div>
      </div>
      <div class="col-sm-4 feature_div">
        <img src="frontend/static/images/icon.png" class="img-responsive feature_image" alt="">
        <div>
          <h3 class="feature_h">Smash News</h3>
          <p class="feature_p">Stay up to date on everything Melee—recent results, upcoming tournaments, featured streams, and more.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-4 feature_div">
        <img src="frontend/static/images/icon.png" class="img-responsive feature_image" alt="">
        <div>
          <h3 class="feature_h">Open Source</h3>
          <p class="feature_p">View, improve, and modify our code: anyone can become a contributor.
        </div>
      </div>
      <div class="col-sm-offset-0 col-sm-4 feature_div col-sm-offset-2">
        <img src="frontend/static/images/icon.png" class="img-responsive feature_image" alt="">
        <div>
          <h3 class="feature_h">No Strings Attached</h3>
          <p class="feature_p">Gain access to all features free of charge! Feel free to donate to keep our site afloat.
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- About Section -->
<section class="success" id="about">
<div class="segment">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>About</h2>
      <hr class="star-light">
    </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 about_p">
        <p>This is placeholder text but pretty much it's going to explain that we're the premier Smash Rankings site that's constantly growing, and constantly thinking of new ways to serve the Smash community and grow the scene.
      </div>
      <div class="col-lg-4">
        <p>If you're interested in contributing, check out our github (link) here. If you would like to donate, click here (link).
      </div>
    </div>
  </div>
</div>
</section>


