<div class="col-md-offset-1 col-md-10 col-md-offset-1 maindiv">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Rankings</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped rankings_table">
        <thead>
          <tr>
            <th class="header_center">Rank</th>
            <th class="header_center">Character</th>
            <th class="header_center">Player</th>
            <th class="header_center">Record</th>
            <th class="header_center">Rating</th>
            <th class="header_center">League</th>
          </tr>
        </thead>
        <tbody>
        {{#list data}}<b>{{player}}</b> -- {{rating}}{{/list}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row"></div>

