<div class="row">
  <div class="col-md-offset-1 col-md-10 col-md-offset-1">
    <div class="col-xs-9 col-md-10">
      <div class="row">
        <input class="col-xs-8 col-md-6" id="inputSearch" placeholder="Search for a player..." />
      </div>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel panel-body col-xs-7 col-md-6" id="results"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-md-2">
      <a id="meButton" class="btn btn-primary" role="button">This is me!</a>
    </div>
  </div>
</div>
